name: Docker Build and Publish

on:
  push:
    branches:
      - main

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      # --- 1. Connexion à Docker Hub (Utilise les Secrets) ---
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          logout: true 
          
      # --- 2. Connexion à GitHub Container Registry (Utilise le GITHUB_TOKEN) ---
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # --- 3. Build et Push de l'image Docker ---
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          # Assurez-vous que le Dockerfile est à la racine. Sinon, changez le path.
          context: . 
          push: true
          file: ./Dockerfile
          # ATTENTION : AUCUN COMMENTAIRE SOUS tags: |
          tags: |
            ${{ github.repository }}:latest
            ${{ github.repository }}:${{ github.sha }}
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}
          # Si votre Dockerfile a un nom différent, utilisez: file: ./MonDockerfile
